*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fada3e;
}
.container{
    position: relative;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.container .card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.container .card:nth-child(even){
    flex-direction: column-reverse;
}
.container .card .imgbox{
    position: relative;
    width: 250px;
    height: 250px;
    background: #000;
}
.container .card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content div{
    padding: 20px;
    text-align: center;
}